<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - MySeattleSearch</title>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <universal-header></universal-header>
    
    <main>
        {{ content | safe }}
    </main>

    <universal-footer></universal-footer>
    
    <script src="/components.js"></script>
</body>
</html>